{# freepost
 # http://freepo.st
 # 
 # Copyright © 2014-2015 zPlus
 # 
 # This file is part of freepost.
 # freepost is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Affero General Public License as
 # published by the Free Software Foundation, either version 3 of the
 # License, or (at your option) any later version.
 # 
 # freepost is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 # GNU Affero General Public License for more details.
 # 
 # You should have received a copy of the GNU Affero General Public License
 # along with freepost. If not, see <http://www.gnu.org/licenses/>.
 #}

<div class="box communityMenu">
    
    <div class="picture">
        
        <img class="image" alt="" title="" src="{{ community|communityPicture }}" />

        <div class="content">
            {{ community.name }}
        </div>
        
        {% if app.user %}
            <div id="follow" class="follow" data-community-hashid="{{ community.hashId }}">
                + Follow
            </div>
        {% endif %}
    </div>
    
    <div class="menu">
        <a class="none" target="_self" href="{{ path('freepost_community', {'communityName': community.name}) }}">
            All posts
        </a>
        <a class="none" target="_self" href="{{ path('freepost_community_about', {'communityName': community.name}) }}">
            About us
        </a>
        {% if app.user %}
            <a class="none" target="_self" href="{{ path('freepost_community_preferences', {'communityName': community.name}) }}">
                Preferences
            </a>
        {% endif %}
    </div>
    
</div>